header {
    background-color:#6a95e6;
    color: #1e53e4;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #2150a8;
    color: #cce0f5;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img {
    width: 80px;
    height: 80px;
}
img{
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #000000;
    height: 300px ;
}