header {
    background-color:#59e7e7;
    color: #2ed4b9;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #4cf0da;
    color: #cce0f5;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img {
    width: 80px;
    height: 80px;
}
img{
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #000000;
    height: 300px ;
}